#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

&lt {
    tapping-term-ms = <200>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        thlt: tap_hold_layer_toggle {
            compatible = "zmk,behavior-hold-tap";
            label = "Tap/Hold layer toggle";
            bindings = <&mo>, <&tog>;

            #binding-cells = <2>;
            tapping-term-ms = <400>;
            hold-while-undecided;
        };
        ski: ski_behavior {
#            compatible = "zmk,behavior-ski";
            # tweak for Keymap Editor
            compatible = "zmk,behavior-sticky-key";
            label = "SKI";
            #binding-cells = <1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Focal {
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3        &kp N4          &kp N5           &kp N6     &kp N7     &kp N8              &kp N9              &kp N0         &kp BACKSPACE
&kp LGUI   &kp V   &kp L   &kp H         &kp G           &kp K            &kp Q      &kp F      &mt SEMICOLON O     &mt LEFT_BRACKET U  &kp J          &kp SLASH
&kp TAB    &kp S   &kp R   &kp N         &kp T           &kp B            &kp Z      &kp C      &mt SINGLE_QUOTE A  &kp E               &kp I          &thlt 4 4
&kp LCTRL  &kp Y   &kp X   &kp M         &kp D           &lt 8 P          &kp MINUS  &kp W      &kp PERIOD          &kp COMMA           &kp LS(MINUS)  &mo 6
                           &kp LEFT_ALT  &kp LEFT_SHIFT  &mo 5            &kp ENTER  &kp SPACE
                                         &kp SPACE       &kp BACKSPACE    &kp DEL
            >;
        };

        Focal-Game {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&kp F1  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &mo 2
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &to 0
                        &trans  &trans  &kp F2    &trans  &trans
                                &trans  &trans    &trans
            >;
        };

        Focal-Game-Sticky {
            bindings = <
&kp ESC     &ski N1  &ski N2  &ski N3  &ski N4  &ski N5    &ski N6     &ski N7  &ski N8      &ski N9     &ski N0         &kp BACKSPACE
&ski F1     &ski V   &ski L   &ski H   &ski G   &ski K     &ski Q      &ski F   &ski O       &ski U      &ski J          &ski SLASH
&ski TAB    &ski S   &ski R   &ski N   &ski T   &ski B     &ski Z      &ski C   &ski A       &ski E      &ski I          &trans
&ski LCTRL  &ski Y   &ski X   &ski M   &ski D   &ski P     &ski MINUS  &ski W   &ski PERIOD  &ski COMMA  &ski LS(MINUS)  &ski SQT
                              &trans   &trans   &trans     &trans      &trans
                                       &trans   &trans     &trans
            >;
        };

        qwerty-Game {
            bindings = <
&kp F6   &kp F1     &kp F2  &kp F3  &kp F4     &kp F5       &trans  &trans  &trans  &trans  &trans  &trans
&kp TAB  &kp N1     &kp N2  &kp N3  &kp N4     &kp N5       &trans  &trans  &trans  &trans  &trans  &trans
&kp Q    &kp LSHFT  &kp A   &kp W   &kp D      &kp E        &trans  &trans  &trans  &trans  &trans  &mo 4
&trans   &kp Z      &kp X   &kp S   &kp M      &trans       &trans  &trans  &trans  &trans  &trans  &to 0
                            &trans  &kp SPACE  &kp LSHFT    &trans  &trans
                                    &trans     &trans       &trans
            >;
        };

        Symbol {
            bindings = <
&trans            &kp LS(RIGHT_BRACKET)  &kp RA(NUMBER_2)  &kp RA(NUMBER_3)  &kp BSLH      &kp LS(N5)           &kp LS(NUMBER_6)  &kp RA(LEFT_BRACKET)  &kp RA(RIGHT_BRACKET)     &trans                    &trans                 &trans
&kp LS(NUMBER_1)  &kp COMMA              &kp NUMBER_1      &kp NUMBER_2      &kp NUMBER_3  &kp LS(NUMBER_3)     &kp RA(N7)        &kp RA(SINGLE_QUOTE)  &kp RA(BSLH)              &kp LS(NUMBER_3)          &kp MINUS              &kp LS(UNDER)
&kp SLASH         &kp PERIOD             &kp NUMBER_4      &kp NUMBER_5      &kp NUMBER_6  &kp LS(AMPERSAND)    &kp RA(NUMBER_7)  &kp LS(NUMBER_8)      &kp LS(NUMBER_9)          &kp RA(NON_US_BACKSLASH)  &kp PLUS               &to 0
&trans            &kp NUMBER_0           &kp NUMBER_7      &kp NUMBER_8      &kp NUMBER_9  &kp LS(NUMBER_0)     &kp LS(NUMBER_2)  &kp NON_US_BACKSLASH  &kp LS(NON_US_BACKSLASH)  &kp LS(NUMBER_7)          &kp LS(RIGHT_BRACKET)  &kp EQUAL
                                                           &trans            &trans        &trans               &trans            &trans
                                                                             &trans        &trans               &trans
            >;
        };

        Mouse-Auto {
            bindings = <
&kp F12  &kp F1          &kp F2          &kp F3        &kp F4           &kp F5    &kp F6     &kp F7         &kp F8         &kp F9         &kp F10        &kp F11
&trans   &kp DOWN_ARROW  &kp LEFT_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &none     &none      &kp LC(PG_UP)  &kp LC(PG_DN)  &kp LS(LC(T))  &kp LC(W)      &none
&trans   &mkp MB2        &mkp MB3        &mo 7         &mkp MB1         &mo 6     &none      &mkp MB4       &mkp MB5       &kp LC(Z)      &kp LS(LC(Z))  &to 0
&trans   &kp PAGE_DOWN   &kp HOME        &kp PG_UP     &kp END          &none     &kp LC(A)  &kp LC(C)      &kp LC(X)      &kp LC(V)      &mo 6          &to 6
                                         &trans        &trans           &to 0     &trans     &trans
                                                       &trans           &trans    &trans
            >;
        };

        Mouse-Snipe {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &mo 7   &mo 7   &to 5
                        &trans  &trans  &trans    &trans  &trans
                                &trans  &trans    &trans
            >;
        };

        Mouse-Scroll {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &to 5
                        &trans  &trans  &trans    &trans  &trans
                                &trans  &trans    &trans
            >;
        };

        Bluetooth {
            bindings = <
&bt BT_CLR_ALL  &bt BT_CLR     &none          &out OUT_BLE   &out OUT_USB   &out OUT_TOG     &trans           &trans                &trans      &trans        &trans  &none
&trans          &bt BT_DISC 0  &bt BT_DISC 1  &bt BT_DISC 2  &bt BT_DISC 3  &bt BT_DISC 4    &trans           &kp C_BRIGHTNESS_DEC  &none       &kp C_BRI_UP  &trans  &trans
&trans          &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4     &kp PRINTSCREEN  &kp C_VOL_DN          &kp C_MUTE  &kp C_VOL_UP  &trans  &to 4
&trans          &trans         &trans         &trans         &bt BT_NXT     &to 0            &none            &trans                &trans      &trans        &to 3   &to 1
                                              &trans         &trans         &to 5            &trans           &trans
                                                             &trans         &trans           &trans
            >;
        };
    };
};
